body {
  font-family: "Orbitron", sans-serif;
  background-color: #1e1e1e;
  background-image: url("../images/image_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(27, 27, 27, 0.4);
  z-index: -1;
  pointer-events: none;
}

/* En-tête */
header {
  display: flex;
  justify-content: space-between; /* bouton à gauche, profil + image à droite */
  align-items: center;
  padding: 2rem;
  border-bottom: 2px solid #333;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.6);
  background-color: rgba(30, 30, 30, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 100px;
}

.profile {
  text-align: center; /* centre texte interne */
  flex-grow: 1; /* occupe l’espace dispo */
}

.margin_body {
  margin: 15px;
}
.pfp {
  width: 200px;
  border-radius: 10%;
}
h1 {
  font-size: 3.5rem;
  color: #eeeeee;
  text-shadow: 0 0 10px #03dede;
  margin: 0.5rem 0;
}
#honorific_title {
  font-size: 1.5rem;
  color: #03dede;
  text-shadow: 0 0 10px #ffffff;
  margin-bottom: 20px;
}
p {
  font-size: 1.2rem;
  color: #ddd;
  margin: 10px 0;
}

/* Section Projets */
#projects {
  margin-bottom: 100px;
}
h2 {
  font-size: 2.5rem;
  color: #eeeeee;
  text-shadow: 0 0 10px #03dede;
  margin-bottom: 2rem;
  text-align: center;
}

.project-card {
  border: 1px solid #333;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  background-color: rgba(30, 30, 30, 0.8);
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #f0f0f0;
  margin-bottom: 20px;
}

.project-card:hover {
  transform: translateY(-5px);
  background-color: #6fc2f1ce;
  box-shadow: 0 0 20px rgba(57, 192, 192, 0.5);
  outline: none;
}

.project-info {
  max-width: 70%;
}

.project-icons img {
  width: 50px;
  height: 50px;
  filter: brightness(0.8);
  transition: filter 0.3s ease, transform 0.2s;
}
.project-icons {
  display: flex;
  gap: 20px;
}
.project-icons img:hover {
  filter: brightness(1);
  transform: scale(1.1);
}

/* Compétences */
#skills {
  padding: 25px;
  background-color: rgba(30, 30, 30, 0.8);
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
  margin-bottom: 100px;
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#skills li {
  background-color: rgba(30, 30, 30, 0.8);
  border: 1px solid #333;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
  color: #fff;
  font-size: 1.2rem;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

#skills li:hover {
  background-color: #6fc2f1ce;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
  outline: none;
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}
#centrer_retour_index {
  color: #03dede;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid #03dede;
  border-radius: 8px;
  background-color: rgba(30, 30, 30, 0.8);
  transition: all 0.3s ease;
  font-weight: bold;
  display: flex;
  max-width: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
}
#centrer_retour_index:hover {
  color: #1e1e1e;
  background-color: #03dede;
  border-color: #1e1e1e;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Pied de page */
footer {
  background-color: rgba(30, 30, 30, 0.8);
  padding: 2rem 0;
  color: #ddd;
  text-align: center;
  border-top: 2px solid rgba(0, 255, 255, 0.5);
  border-radius: 5px;
  margin-top: 50px;
}
.icons_liens {
  display: flex;
  justify-content: center;
  gap: 20px;
}
footer h2 {
  margin-top: 0;
}
footer p {
  font-size: 0.7rem;
}
.icon {
  width: 40px;
  height: 40px;
  filter: brightness(0.8);
  transition: filter 0.3s;
}
.icon:hover {
  filter: brightness(1);
}
.liens_footer {
  color: #03dede;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid #03dede;
  border-radius: 8px;
  background-color: #1e1e1e;
  transition: all 0.3s ease;
  font-weight: bold;
}
.liens_footer:hover {
  color: #1e1e1e;
  background-color: #03dede;
  border-color: #1e1e1e;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#about_email {
  margin-top: 30px;
}
.back-btn {
  color: #03dede;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid #03dede;
  border-radius: 8px;
  background-color: rgba(30, 30, 30, 0.8);
  transition: all 0.3s ease;
  font-weight: bold;
  display: inline-block;
  max-width: 50%;
}

.back-btn:hover {
  color: #1e1e1e;
  background-color: #03dede;
  border-color: #1e1e1e;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Adaptation mobile */
@media (max-width: 768px) {
  header {
    padding: 1rem;
  }

  h1 {
    font-size: 3.5rem;
    color: #03dede;
    text-shadow: 0 0 10px #03dede;
    margin: 0.5rem 0;
  }

  p {
    font-size: 1.2rem;
    color: #ddd;
    margin: 10px 0;
  }
  footer p {
    font-size: 0.8rem;
  }

  .pfp {
    width: 150px;
  }

  .project-card {
    flex-direction: column;
    text-align: center;
  }

  .project-info {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  #skills ul {
    gap: 30px;
  }
}
